<!-- Area para Modelagem de Componentes-->
<nav class="bg-dark navbar navbar-expand-lg navbar-light bg-light">
  <a style="color: white" class="navbar-brand" href="#">GGIZ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav nav-pills">
      <li class="nav-item ml-2">
        <a href="/home" class="nav-link active" href="#">
          <i class="fa fa-fw fa-home"></i>
          <span class="nav-link-text">Home</span>
        </a>
      </li>
      <li class="nav-item ml-2">
        <a class="nav-link active" href="/info">
          <i class="fa fa-fw fa-wrench"></i>
          <span class="nav-link-text">Informações Técnicas</span>
        </a>
      </li>
      <li class="nav-item ml-2">
        <a href="/sobre" id="sidenavToggler" class="nav-link active">
          <i class="fa fa-fw fa-lightbulb-o"></i>
          <span class="nav-link-text">Sobre o GGIZ</span>
        </a>
      </li>
      <li class="nav-item ml-2">
        <a href="/preCad" id="sidenavToggler" class="nav-link active">
          <i class="fa fa-fw fa-lightbulb-o"></i>
          <span class="nav-link-text">Pré-Cadastro</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
