    <!-- Page Wrapper -->
<div id="wrapper">
      <!-- Content Wrapper -->
      <div id="content-wrapper" style="background-image: url(assets/img/ggizBack.jpg)" class="d-flex flex-column">
           <!-- Main Content -->
           <div id="content">
          <!-- Top Bar -->
          <ggiz-header></ggiz-header>
          <!-- Fim Top Bar -->
          <!-- Begin Page Content -->
          <div class="container-fluid">
            <div *ngIf="processamento" class="alert alert-primary mt-5" role="alert">
              <span class="spinner-border spinner-border-sm"></span>
              <span class="ml-3">E ae! Estamos nesse momento solicitando informações ao servidor. Isso para lhe manter sempre muito bem informado! Aguarde um momento...</span>
            </div>
            <router-outlet></router-outlet>
          </div>
          <!-- Fim do Container Fluid-->
           </div>
        <!-- End of Main Content -->
      </div>
      <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
