  <div class="row ml-2 mb-2">
    <a class="twitter-timeline" data-width="300" data-height="193" data-theme="dark" href="https://twitter.com/ggiz16?ref_src=twsrc%5Etfw">Tweets by ggiz16</a>
  </div>

   <div class="row ml-2 mb-2">
    <div style= "height:160px; width:300px;" class="card">
      <div style="height:50px; background-color: darkslategrey" class="card-header">
        <div class="row">
          <div>
            <span class="h8 col-6" style="color: snow;">Outros Canais Interessantes!</span>
            <i style="color: chartreuse; padding-left:30px;" class="col6 fa fa-info-circle" aria-hidden="true" tooltip="Aqui umas referências interessantes envolvendo ciências e computação. Confere lá você vai gostar! Conhecimento é sempre bom e divertido!"
            placement="bottom"></i>
          </div>
        </div>

      </div>
      <div style="background-color: slategrey" class="card-body">
        <div class="row">
          <span  class="h7"><a style="color: white !important;" href="http://dragoesdegaragem.com/" tooltip="Ae! Esse é um canal que tem uns Podcast de Ciências! Fala de tudo, você vai curtir! Dá uma passada lá!"><i class="fa fa-link" aria-hidden="true"></i> Dragões de Garagem</a></span>
        </div>

        <div class="row">
          <span  class="h7"><a style="color: white !important;" href="https://hackaday.com/" tooltip="Olha!! Se você é daqueles que curti projetos tecnológicos. E o melhor, desenvolvido por pessoas bacanas! Esse é o canal!"><i class="fa fa-link" aria-hidden="true"></i> Hackaday</a></span>
        </div>

        <div class="row">
          <span  class="h7"><a style="color: white !important;" href="https://hipsters.tech/" tooltip="Canal Bacanudo!!! Aqui você vai encontrar podcasts de tecnologias relacionado a desenvolvimento web e outras modinhas!"><i class="fa fa-link" aria-hidden="true"></i> Hipster.Tech</a></span>
        </div>

      </div>

     </div>
   </div>

   <div class="row ml-2">
      <!--************CODE GEOMAP************-->
      <a href="http://www.geovisites.com/pt/directory/ciencias_tecnologia.php?compte=ufxylcb6ssq2"  target="_blank">
        <img src="https://geoloc1.geovisite.ovh/private/geomap.php?compte=ufxylcb6ssq2&base=geoloc1" border="0" alt="tecnologia">
      </a>
      <!--************END CODE GEOMAP************-->
   </div>
