<div class="container">
  <div class="alert alert-success mt-5" role="alert">
    <p>Obrigado por efetuar o Cadastro na Plataforma Experimental GGIZ. Você deve ter notado que não informou senha.
      É isso mesmo, por se tratar de um Pré-Cadastro essa ação não é necessária. O sistema já vai gerar uma senha de
      acesso para você.E quando você for logar para aproveitar a plataforma, você será avisado por email, com a senha
      de acesso e o assunto especifico!! Obrigado!!
    </p>
    <hr>
    <a href="index.html" class="btn btn-google btn-user btn-block">
      <i class="fab fa-google fa-fw"></i> Voltar para a Tela de Pré-Cadastro
    </a>
  </div>
</div>
