<ng-template #cadDupTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Aviso</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefCadDupUser.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Opa!! Esse usuário já consta em nossa base de dados! Tente um outro usuário!
    </p>
  </div>
</ng-template>

<ng-template #cadMailUserDupTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Aviso</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefCadMailDupUser.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Opa!! Esse usuário e email já estão cadastrados em nossa base de dados! Tente outra composição!
    </p>
  </div>
</ng-template>

<ng-template #cadMailDup>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Aviso</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefCadMailDup.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Opa!! Esse Email já está cadastrado em nossa base de dados! Tente informar outro email!
    </p>
  </div>
</ng-template>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Aviso</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>
        Informe um Nome de Usuário e em seguida um Email válido para que possamos posteriormente entrar em contato.
        Para o Pré-Cadastro do seu usuário. Utilize apenas caracteres minusculos de a a z, sem números e outros simbolos.
        Lembre-se, este é um Pré-Cadastro, futuramente você poderá alterar o nome de usuário e o email.
      </p>
    </div>
  </ng-template>

  <ng-template #errSys>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Aviso</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefErrSys.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <p>Ops!! Ocorreu um problema de nivel sistêmico no servidor que causou esse inconveniente.
          O sistema notificou a base de erros e logo a situação será normalizada! Não desista por isso!
          Contamos com sua nova visita em breve!
        </p>
    </div>
  </ng-template>

  <div *ngIf="avisoSucess" class="alert alert-success mt-5" role="alert">
    <p>Obrigado por efetuar o Cadastro na Plataforma Experimental GGIZ! Você deve ter notado que não informou senha.
      É isso mesmo, por se tratar de um Pré-Cadastro essa ação não é necessária. O sistema já vai gerar uma senha de
      acesso para você. Com seu email cadastrado enviaremos uma mensagem assim que for possivel acessar o sistema.
    </p>
  </div>

  <div *ngIf="avisoError" class="alert alert-danger mt-5" role="alert">
      <p>Essa não!!! Algo ocorreu e o servidor não nos respondeu! Provavelmente esteja ocorrendo alguma manutenção no ambiente
        e logo você poderá solicitar seu Pré-Cadastro conosco. Lembre-se é muito importante que você faça parte dessa experiência!
      </p>
  </div>

  <!-- Outer Row -->
  <div *ngIf="cadUsuario"  class="row justify-content-center">
  <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div style="background-image: url('./../../assets/img/gCad.png')" class="col-lg-6 d-none d-lg-block"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Bem Vindo ao Pré-Cadastro!</h1>
                </div>
                <form class="user">
                  <div class="form-group">
                    <input  type="text" class="form-control form-control-user" [(ngModel)] = "cadastro.usuario" name="usuario" id="usuario" aria-describedby="usuario" placeholder="Informe o Usuário">
                    <small id="usuarioHelp" class="form-text text-muted">Não utilize caracteres especiais nem letras maiusculas</small>
                  </div>
                  <div class="form-group">
                    <input  type="email" class="form-control form-control-user" [(ngModel)] = "cadastro.email" name="email" id="email" placeholder="Seu Email">
                    <small id="usuarioHelp" class="form-text text-muted">Informe um email válido</small>
                  </div>
                  <div *ngIf="sendCad; then issendcad; else notsendcad"></div>
                  <ng-template #notsendcad>
                  <button (click)="efetuarCadastro(template)" class="btn btn-primary btn-user btn-block">
                      Pré-Cadastro..
                  </button>
                  <!-- <button class="btn btn-primary btn-user btn-block">
                    Pré-Cadastro..
                </button> -->
                  <!-- <hr>
                  <button (click) = "showAbout()" class="btn btn-google btn-user btn-block">
                    <i class="fab fa-google fa-fw"></i> Saiba um Pouco Mais!
                  </button> -->
                  </ng-template>
                  <ng-template #issendcad>
                  <button class="btn btn-primary btn-user btn-block">
                       <span class="spinner-border spinner-border-sm"></span>
                       Enviando Pré-Cadastro..
                  </button>
                  <!-- <hr>
                  <button class="btn btn-google btn-user btn-block">
                    <i class="fab fa-google fa-fw"></i> Saiba um Pouco Mais!
                  </button> -->
                  </ng-template>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
