<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
   <a class="navbar-brand" href="#">GGIZ</a>
   <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
   data-target="navbarCurso" arial-control="navbarCurso" arial-expanded="false" arial-label="Navegação Toggle">
   <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarCurso" class="collapse navbar-collapse">
     <ul class="navbar-nav navbar-sidenav">
        <li class="nav-item" data-toggle="tooltip" data-placement="right">
          <a href="/home" class="nav-link" href="#">
            <i class="fa fa-fw fa-home"></i>
            <span class="nav-link-text">Home</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right">
          <a class="nav-link" href="/info">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Informações Técnicas</span>
          </a>
        </li>
     </ul>
     <ul class="navbar-nav sidenav-toggler">
         <li class="nav-item">
              <a href="/sobre" id="sidenavToggler" class="nav-link text-center">
                <i class="fa fa-fw fa-lightbulb-o"></i>
                <span class="nav-link-text">Sobre o GGIZ</span>
              </a>
         </li>
     </ul>
     <!-- Comando de Login -->
     <!-- <ul class="navbar-nav ml-auto">
       <li class="nav-item">
           <form class="form-inline my-2 my-lg-0 mr-lg-2">
               <div class="input-group">
                 <input type="text" class="form-control" placeholder="Usuario">
                 <input type="password" class="form-control" placeholder="Senha">
                 <span class="input-group-btn">
                  <button class="btn btn-primary btn-user btn-block">
                     Deverá ser substituido quando iniciar o processo de login
                    <span class="spinner-border spinner-border-sm"></span>
                    <i class="fa fa-sign-in"></i>
               </button>
                 </span>
               </div>
           </form>
       </li>
     </ul> -->
  </div>
</nav>

<!-- AREA COM CONTEUDO QUE SERÁ NAVEGAVEL -->
<!-- <div class="content-wrapper">
     <div class="container-fluid"> -->
      <!-- COMPONENTE CONTENDO OS RESUMOS DAS NOTICIAS-->
      <!-- <div class="row">
         <div class="col-12">
           <h1>Noticias</h1>
         </div>
       </div>
       <hr>

       <div class="row">

        <div class="ml-2 mb-3">
          <div class="card" style="width: 18rem;">
            <img src="assets/img/topCardNews.png" class="card-img-top" alt="...">
            <div class="card-body">
              <small>Data Publicação: 15/07/2020</small>
                <p class="card-text">
                  Agora um Canal Exclusivo para as noticias do Desenvolvimento do GGIZ
                </p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">Quero Ler Mais!</a>
            </div>
          </div>
        </div>

      </div> -->

      <!-- AREA QUE CONTERÁ O TEXTO COM A NOTICIA-->
      <!-- <ol class="breadcrumb">
           <li class="breadcrumb-item">
             <a href="#">Noticias</a>
           </li>
           <li class="breadcrumb-item">
            GGIZ - Oficial
          </li>
       </ol>
       <div class="row">
           <div class="col-12">
             <h1>GGIZ - Oficial</h1>
             <p>
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
               Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste TesteTeste
               Teste TesteTeste
             </p>
           </div>
       </div> -->
    <!-- </div>
     <footer class="sticky-footer">
          <div class="container">
              <div class="text-center">
                <small>Teste</small>
              </div>
          </div>
     </footer>
</div> -->
<div style="background-image: url(assets/img/ggizBack.jpg)" class="content-wrapper">
  <router-outlet></router-outlet>
  <footer class="sticky-footer">
    <div class="container">
        <div class="text-center">
          <small>ggiz.com.br - 2020 - Weber Alves dos Santos [-(. V .)-]</small>
        </div>
    </div>
  </footer>
</div>

