<!-- AVALIAÇÃO DE TELA DE LEITURA DE NOTICIAS -->
<!-- <ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a [routerLink]="['/home']">Home</a>
  </li>
  <li class="breadcrumb-item">
   TESTE
 </li>
</ol>
<div ggizNgShowReadNews style="margin-top:50px; font-weight:bold;color:white" class="row">
</div> -->

<!-- <div class="container">

  <div class="row">
    <div class="row">
      <div class="row">
        <div class="col-lg-4 mb-4">
        <h1 style="color: white;" class="h3 mb-0">Noticias</h1>
        </div>
      </div>
      <div class="row">

        <div class="mb-4 col-lg-4">
        <div style= "width:300px;" class="card">
          <div class="card-header">
           TESTE
          </div>
          <div style="height:120px;" class="card-body">
            Agora você pode acompanhar as notícias sobre o desenvolvimento da Plataforma GGIZ pelo seu canal oficial!
          </div>
          <div class="card-body">
            <button  type="button" class="btn btn-primary">Quero Ler mais!</button>
           </div>
        </div>
        </div>

      </div>
    </div>

  </div>
</div> -->
<!--
<div>
  <div class="row">
    <div>
        <h1 style="color: white;" class="h3 mb-4">Noticias e Informações Quentes da Tecnologia e Comunidade Maker!</h1>
    </div>
  </div>
  <div class="row">

       <div style= " width:300px;" class="card mb-3 ml-2">
         <div class="card-header">
          TESTE
         </div>
         <div style="height:120px;" class="card-body">
           Agora você pode acompanhar as notícias sobre o desenvolvimento da Plataforma GGIZ pelo seu canal oficial!
         </div>
         <div class="card-body">
           <button  type="button" class="btn btn-primary">Quero Ler mais!</button>
          </div>
       </div>
  </div>

</div>
-->
<ol  class="breadcrumb">
  <li class="breadcrumb-item">
    <a [routerLink]="['/home']">Home</a>
  </li>
  <li class="breadcrumb-item">
   Vem comigo! Tenho novidades!
  </li>
</ol>
<div  class="row">
  <div class="col-12">
    <h1 style="color:white">E ae!! Senta ae que vou te contar!</h1>
       <!--
       <ggiz-news-input></ggiz-news-input>
       -->

       <!-- TESTE PARA INCLUSAO DE NOTICIAS -->
      <div style="font-weight:bold;color:white">
           <!-- String com noticias -->
           <!--                     -->
      </div>
      <p style="font-weight:bold;color:white">
        Por Weber Alves dos Santos - weberasantos@gmail.com
      </p>
       <!-- -->

 </div>
