<div class="container-fluid">
   <div class="row">
      <div class="col-12">
        <h1 style="font-weight:bold;color:white">Novidades sobre o desenvolvimento</h1>
      </div>
    </div>
    <hr>
    <div class="row">
     <div class="ml-2 mb-3">
       <div class="card" style="width: 18rem;">
         <img src="assets/img/topCardNews.png" class="card-img-top" alt="...">
         <div class="card-body">
           <small>Data Publicação: 15/07/2020</small>
             <p class="card-text">
               Agora um Canal Exclusivo para as noticias do Desenvolvimento do GGIZ
             </p>
         </div>
         <div class="card-body">
           <a href="#" class="card-link">Quero Ler Mais!</a>
         </div>
       </div>
     </div>
</div>
