<div class="container-fluid">

  <div *ngIf="notContent" class="alert alert-warning mt-5" role="alert">
    Estamos no momento sem conteúdo para apresentar nessa sessão. Mas volte em outro momento estamos trabalhando para gerar conteúdo!
  </div>

 <div *ngIf="errServer" class="alert alert-danger mt-5" role="alert">
    Ops! Não gostamos quando isso acontece! Mas ocorreu um problema no servidor e logo voltaremos ao normal!
  </div>

  <div *ngIf="errServerToken" class="alert alert-danger mt-5" role="alert">
    Essa não!! Ocorreu um erro de validação de Token no Servidor. Vamos verificar esse problema! Retorne mais tarde!
  </div>

  <div *ngIf="viewNews" class="row">
      <div class="col-12">
        <h1 style="font-weight:bold;color:white">Novidades sobre a plataforma</h1>
      </div>
    </div>
    <hr>
    <div class="row">
     <div *ngFor="let ggnews of pNews" class="ml-2 mb-2">
       <div class="card" style="width: 18rem;">
         <img src="assets/img/topCardNews.png" class="card-img-top" alt="...">
         <div class="card-body">
           <small>Data Publicação: {{ggnews.dtcriacao}}</small>
             <p class="card-text">
               {{ggnews.descricao}}
             </p>
         </div>
         <div class="card-body">
          <button (click)="showNews(ggnews.id,ggnews.titulo)" type="button" class="btn btn-primary">Quero Ler mais!</button>
         </div>
       </div>
     </div>
</div>
