<div  class="container-fluid">
    <div class="col-12">
       <p style="font-weight:bold;color:white">
        GGIZ é uma ideia, um devaneio. Você não vai encontrar aqui uma explicação sobre a Plataforma GGIZ.
        Mas vai entender o conceito do projeto. No fundo trata-se de um laboratório de uma ideia que tive em uma
        noite de insatisfação com o meu momento profissional. Desde aquele dia a plataforma borbulha na minha
        cabeça e a cada dia a ideia vai amadurecendo. E assim vai sendo desenhado com a possibilidade de cometer
        erros sem ser penalizado, afinal estou escrevendo, rabiscando!!! Em um Quadro de Giz!!!
       </p>
       <p style="font-weight:bold;color:white">
        A arquitetura da plataforma se divide em dois módulos, Web e seu Hardware especifico que esta em fase de
        intensa pesquisa. A Web vai possibilitar que o usuário crie conteúdo para esse Hardware e tenha uma interação
        através dessa aplicação que esta passando por constante evolução.
       </p>
    </div>
</div>
