<!-- Topbar -->
<nav style="height:40px;" class="navbar navbar-expand navbar-light bg-dark topbar mb-4 static-top shadow navbar-fixed-top">
  <span style="color: white;" class="navbar-brand">GGIZ</span>
  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a style="height:5px;" class="nav-link disabled" [routerLink]="['home']" ggizNgShowComand>
         <i class="fas fa-home fa-fw" tooltip="Tela Principal"
         placement="left"></i>
      </a>
    </li>
    <li class="nav-item">
      <a style="height:5px;" class="nav-link disabled" [routerLink]="['/info']" ggizNgShowComand>
        <i class="fas fa-info fa-fw" tooltip="Informações Técnicas do GGIZ"
        placement="left"></i>
      </a>
    </li>
    <li class="nav-item">
      <a style="height:5px;" [routerLink]="['/about']" class="nav-link disabled" ggizNgShowComand>
        <i class="fas fa-table fa-fw" tooltip="Informações sobre o GGIZ"
        placement="left"></i>
      </a>
    </li>
    <!-- <li class="nav-item">
      <a style="height:5px;" class="nav-link disabled"  [routerLink]="['/precad']" ggizNgShowComand>
        <i class="fas fa-user-circle fa-fw" tooltip="Pré-Cadastro"
        placement="left"></i>
      </a>
    </li> -->
  </ul>
</nav>
<!-- End of Topbar -->
