<!-- Page Heading -->
<div *ngIf="notContent" class="alert alert-warning mt-5" role="alert">
  Estamos no momento sem conteúdo para apresentar nessa sessão. Mas volte em outro momento estamos trabalhando para gerar conteúdo!
</div>

<div *ngIf="errServer" class="alert alert-danger mt-5" role="alert">
  Ops! Não gostamos quando isso acontece! Mas ocorreu um problema no servidor e logo voltaremos ao normal!
</div>

<div *ngIf="errServerToken" class="alert alert-danger mt-5" role="alert">
  Essa não!! Ocorreu um erro de validação de Token no Servidor. Vamos verificar esse problema! Retorne mais tarde!
</div>

<div *ngIf="viewNews" class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 style="color: white;" class="h3 mb-0">Noticias</h1>
</div>
<div *ngIf="viewNews" class="row">

  <div *ngFor="let ggnews of pNews" class="col-lg-6">
    <!-- Default Card Example -->
    <div class="card mb-4">
      <div class="card-header">
        Noticia GGiz - Dt: {{ggnews.dtcriacao}}
      </div>
      <div class="card-body">
        {{ggnews.descricao}}
      </div>
      <div class="card-body">
        <button (click)="showNews(ggnews.id,ggnews.titulo)" type="button" class="btn btn-primary">Quero Ler mais!</button>
       </div>
    </div>
  </div>

</div>
