<div class="container">
  <div class="alert alert-success mt-2" role="alert">
    <p>E aí!? Muito obrigado por vir!!Se chegou até aqui é porque você tem interesse em saber oque é esse tal de GGIZ.
      Vou lhe adiantar que não é a grande revolução do século, se trata apenas da união de um Hardware, com a Internet e
      você como indivíduo Principal!Essa ideia veio como um pulso violento na minha cabeça e estou muito feliz por colocar
      a cada dia, um pouco disso para a realidade. Vamos juntos? Acompanhe essa pequena aventura, fazendo seu pré-cadastro
      no sistema.Informe um usuario e um email. Olha, prometo que não vou lhe importunar. Você só vai receber algum mensagem
      quando houver atualizações e novidades no sistema para você interagir!
    </p>
  </div>
  <div class="card card-login mx-auto mt-5">
        <div class="card-header">Pré-Cadastro</div>
        <div class="card-body">
          <form method="POST">
                <div class="form-group">
                    <label for="usuario">Usuário</label>
                    <input type="text" class="form-control" [(ngModel)] = "cadastro.usuario" name="usuario" id="usuario" placeholder="Informe aqui seu usuário">
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" [(ngModel)] = "cadastro.email" name="email" id="email" placeholder="Informe aqui seu email">
                </div>
                <button (click)="efetuarCadastro()" class="btn btn-primary btn-block">
                    Efetuar Pré-Cadastro
                </button>
          </form>
        </div>
    </div>
  </div>
