<div class="col-12">
  <p style="font-weight:bold;color:white">
   Essa é uma Apresentação Inicial da Ideia do Projeto. Existem alguns protótipos que necessitam passar pela
   prova do desenvolvimento. Assim poderei afirmar que vai funcionar!
   </p>
  <p style="font-weight:bold;color:white">
   GGIZ é uma ideia, um devaneio. Você não vai encontrar aqui uma explicação sobre a Plataforma GGIZ.
   Pelo menos não por enquanto! Ideias não podem ser divulgadas em sua concepçao pura, enquanto esta sendo
   trabalhada e idealizada!
   No entanto espero que você entenda o conceito do projeto. No fundo trata-se de um laboratório de uma ideia que tive em uma
   noite de insatisfação com o meu momento profissional. Desde aquele dia, a plataforma borbulha na minha
   cabeça e a cada dia a ideia vai amadurecendo. E assim vai sendo desenhado com a possibilidade de cometer
   erros sem ser penalizado, afinal estou escrevendo, rabiscando!!! Em um Quadro de Giz!!!
  </p>
  <p style="font-weight:bold;color:white">
   A arquitetura da plataforma se divide em dois módulos, Web e seu Hardware especifico que esta em fase de
   intensa pesquisa. A Web vai possibilitar que o usuário crie conteúdo para esse Hardware e tenha uma interação
   através dessa aplicação que esta passando por constante evolução. Mas tenho que enfatizar, estou aprendendo a
   cada dia de desenvolvimento, de pesquisa e de novas ideias. Ter a liberdade de escolher que tecnologia usar, realizar
   testes para comprovar que sua ideia vai se materializar! É um sentimento bem gratificante!
  </p>
  <p style="font-weight:bold;color:white">
   Sempre trabalhei com Sistemas da Informação. Mas tenho um gosto muito forte por Arte, Ciências e Tecnologia. Então juntando
   com meu momento profissional que exige constante aprendizado de novas tecnologias. Resolvi escutar essa voz interior, que fica e
   fica dizendo, "Faça!". Então estou aqui, desenvolvendo bem devagar, mas acreditando! Espero poder editar essa página, descrevendo
   de forma mais técnica o GGIZ. Se chegar o momento dessa edição, isso vai signifcar que eu consegui! E espero que você que está lendo,
   esteja comigo!
   </p>
   <p style="font-weight:bold;color:white">
    Amor, Paz e Prosperidade!
    </p>
</div>
